<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/SpaceIQ.ico" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="https://play-lh.googleusercontent.com/v8VmyBUG1bwn2tBatPm-nPiUCC7BrKcZwolQ_aKUKHoAnUibN1etzbkuLFAk3761y8s" height="40" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">

                <div class="d-flex align-items-center justify-content-center" style=" color: white; padding: 10px; text-align: center; height: 40px;">
                    <a class="nav-link" href="@Url.Action("Index", "Home")"><h2>SpaceIQ</h2></a>
                </div>

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                    </li>
                    @if (Session["username"] != null)
                    {
                        <li class="nav-item d-flex align-items-end">
                            <a class="nav-link " href="@Url.Action("Logout", "Account")" onclick="return confirm('Click OK to logout or Cancel to stay logged in.');">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item d-flex align-items-end">
                            <a class="nav-link " href="@Url.Action("Login", "Account")">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <a class="navbar navbar-brand">
                <div id="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278" />
                    </svg>
                </div>
            </a>
        </div>
        <div class=" d-flex justify-content-end align-content-end" style="color:white">
            @if (Session["Username"] != null)
            {
                <a class="navbar navbar-brand" href="~/Account/LoginProfile">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZSwH5o2AnSPdfyW2UyO3K2xf_sbnez6em2A&usqp=CAU" height="40" style="border-radius : 50%" />
                </a>
                <div class="input-group">
                    @Session["Username"]
                </div>
            }
            else
            {
                <a class="navbar navbar-brand" href="~/Account/Login">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZSwH5o2AnSPdfyW2UyO3K2xf_sbnez6em2A&usqp=CAU" height="40" style="border-radius : 50%" />
                </a>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <script>
        if (localStorage.getItem('theme') != null) {
            document.documentElement.setAttribute('data-bs-theme', localStorage.getItem('theme'));
        }

        document.getElementById('icon').addEventListener('click', () => {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                document.documentElement.setAttribute('data-bs-theme', 'light');
                localStorage.setItem('theme', 'light');
            } else {
                document.documentElement.setAttribute('data-bs-theme', 'dark');
              
                document.getElementById("icon").setAttribute('class','bg-dark')
                localStorage.setItem('theme', 'dark');
            }
        });
    </script>
</body>
</html>
