@model SpaceIQ.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    string _googlesitekey = System.Configuration.ConfigurationManager.AppSettings["GoogleSitekey"];

}
@Styles.Render("~/Content/css")


<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- Add the reCAPTCHA widget to your form -->


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>

                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form id="form">

                        <div class="form-outline mb-4">
                            <label class="form-label"><b>Email address</b></label>
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label"><b>Password</b></label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group mb-3">
                            <div class="col-md-offset-2 col-md-12">
                                @Html.ValidationMessage("Invalid", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="g-recaptcha" data-sitekey=@_googlesitekey></div>
                            @Html.ValidationMessage("Recaptcha")

                        </div>

                        <button id="btn" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </section>
}


<script>
    function isRecaptchaChecked() {
        return document.getElementById("g-recaptcha-response") != null &&
            document.getElementById("g-recaptcha-response").value.trim() !== "";
    }

    document.getElementById("btn").addEventListener("click", function (event) {
        if (!isRecaptchaChecked()) {
            alert("Please complete the reCAPTCHA.");
            event.preventDefault();
        }
});
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
